:root {
    --primario: #2F2F8F;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --fuenteHeading: "Poppins", sans-serif; /* Fuente similar a Flatory Sans para encabezados */
    --fuenteParrafos: "Poppins", sans-serif; /* Fuente similar para párrafos */
    --verde: #27a844;
    --rojo: #dc3546;
    --azul: #007bff;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.centrar{
    text-align: center;
}

.noneFlex {
    display: none !important;
}

html {
    box-sizing: border-box !important;
    font-size: 62.5% !important;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos) !important;
    font-size: 1.6rem !important;
    line-height: 2 !important;

}

a {
    text-decoration: none !important;
    font-size: 2rem !important;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: var(--fuenteHeading) !important;
    line-height: 1.2 !important;
    text-transform: uppercase;
    color: black;
    text-align: center;
}



/* Estilos base para los títulos en desktop */
h1 {
    font-size: 4.8rem !important;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 3.2rem !important;
}

h4 {
    font-size: 2.8rem !important;
}

h5 {
    font-size: 2.4rem !important;
}

/* Estilos base para párrafos en desktop */
p {
    font-size: 1.8rem;
}

/* Media Queries para tamaños de pantalla medianos */
@media (max-width: 768px) {

    h1 {
        font-size: 3.8rem !important;
    }

    h2 {
        font-size: 3.2rem !important;
    }

    h3 {
        font-size: 2.8rem !important;
    }

    h4 {
        font-size: 2.4rem !important;
    }

    h5 {
        font-size: 2rem !important;
    }

    p {
        font-size: 1.6rem;
    }

    body .welcome p{
        font-size: 1.8rem !important;
    }
}

.titulo{
    font-weight: 700;
}
.margin-botomm{
    margin-bottom: 50px;
}

/* Media Queries para tamaños de pantalla pequeños */
@media (max-width: 480px) {
    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    h4 {
        font-size: 1.8rem !important;
    }

    h5 {
        font-size: 1.5rem !important;
    }

    p {
        font-size: 1.5rem;
    }
}


img {
    max-width: 100%;
}


*{
    padding: 0px;
    margin: 0px;
}

.flex{
    display: flex;
}


/*header*/
.header{
    background-color: var(--primario);
    /*background-color: black;*/
    border-bottom: 2px solid var(--gris);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    height: 100px;
}

.header a{
    font-weight: 600;

}

.header a, .footer a{
    text-decoration: none;
    color: white;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100px;
}


.logo, .navegacion-enlace {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navegacion-enlace{
    height: 5rem;
}

header .navegacion-enlace:hover{
    transform: scale(1.02);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-bottom-width: 50% !important;
    transition: all 50ms;
}


.menu-toggle {
    cursor: pointer;
    display: none;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.inciar-sesion-icono i{
    width: 100px;
    height: 100px;
    color: white;
}

.shop-cart-icono i{
    color: white;
    font-size: 18px;
    margin-top: 12px;
}

.iconos-header i{
    margin-left: 35px;
}

.iconos-header i:hover{
    transform: scale(1.12);
    transition: all 50ms;
}

.links-header{
    display: flex;
    width: 650px;
    justify-content: space-around;
}

#iniciarSesion{
    display: none;
}

@media (max-width: 975px){
    .links-header{
        display: flex;
        width: 500px;
        justify-content: none;
    }
    
    .links-header a{
        font-size: 17px !important;
    }
    
    .navegacion-enlace{
        justify-content: none !important;
    }

    header img{
        height: 80px !important;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navegacion {
        z-index: 1050;
        display: none; 
        position: absolute;
        top: 0px;
        background: var(--primario);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        gap: 1rem;
        left: 0px;
        transform: translateX(-100%); /* Oculto inicialmente */
        transition: transform 0.5s ease-out; /* Suaviza la transición */
        padding-top: 100px;
    }

    .navegacion.show {
        display: flex;
        background: var(--primario);
        flex-direction: column;
        height: 100vh;
        animation: slideInFromLeft 0.5s ease-out forwards;
        width: 80%;
    }

    .navegacion-enlace {
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }

    .links-header {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 20px;
        justify-content: space-around;
    }

    #iniciarSesion {
        margin-top: auto;
        display: block;
        justify-content: center;
        align-items: end;
        border-top: 2px solid white;
        padding-top: 10px;
        width: 100%;
    }

    .iniciar-sesion-icono {
        display: none;
    }

    .iconos-header {
        width: 50px;
    }

    .iconos-header i {
        margin-left: 0px;
    }

    .navegacion.hide {
        animation: slideOutToLeft 0.5s ease-in forwards; /* Anima el deslizamiento hacia la izquierda */
    }
    #iniciarSesion i {
        margin-right: 15px;
    }

    #link-sesion{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #iniciarSesion a{
        margin: 0px;
    }

    .noneFlex{
        display: block !important;
    }
}




/*Animacion menu hamburguesa*/


/*Entrada del menu*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0; /* Opcional: Oculto al inicio */
    }
    100% {
        transform: translateX(0); /* Llega a su posición final */
        opacity: 1; /* Opcional: Totalmente visible */
    }
}

/*Salida del menu*/

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0); /* Empieza en la posición actual */
        opacity: 1; /* Totalmente visible */
    }
    100% {
        transform: translateX(-100%); /* Desliza hacia la izquierda */
        opacity: 0; /* Oculto al final */
    }
}


/* Estilos generales */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color de la superposición */
    z-index: 1040; /* Asegúrate de que esté debajo del menú */
    display: none; /* Oculto por defecto */
}

@media (max-width: 768px) {
    .overlay.show {
        display: block; /* Muestra la superposición cuando se abra el menú */
    }
}

.menu-close {
    position: absolute;
    top: 0px;
    left: 280px;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff; /* Cambia el color según tu diseño */
    z-index: 1050; /* Asegúrate de que esté encima del menú */
    transition: transform 0.3s ease;
    height: 10rem;
}
@media (min-width: 768px) {
   .menu-close{
    display: none;
   }
}


.menu-close:hover {
    transform: scale(1.2); /* Aumenta un poco el tamaño al pasar el cursor */
}

.logo-menu{
    position: absolute;
    top: 5px !important;
    left: 50px;
}

/*Contacto */


/* Contacto */
.redes {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 30px;
}

.redes a{
    color: var(--primario);
    font-size: 40px !important;
    text-decoration: none;
}

.redes a:hover{
    transform: scale(1.2) !important;
    transition: all 300ms;
    background-color: transparent;
    color: var(--primario);
}

.contacto {
    width: 90%;
    margin: 0 auto;
    background-color: var(--gris);
    margin-bottom: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    display: block;
}

@media (min-width: 768px) {
    .contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        align-items: center;
    }
}


.contacto img {
    max-width: 90%;
    height: auto;
    display: block; /* Opcional: elimina el espacio debajo de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
    margin: 0 auto;
}


/*formulario contacto*/
.campo {
    display: flex;
    flex-direction: column;
}

.campo:last-child {
    padding-bottom: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.campo__field, .campo__label--textarea {
    border: 2px solid var(--primario);
    border-radius: .5rem;
}

.campo__field {
    height: 5rem;
}

.campo__label--textarea {
    height: 15rem;
}

.campo input{
    padding-left: 8px !important;
}

.boton {
    cursor: pointer;
    color: var(--blanco);
    height: 4rem;
    background-color: var(--primario);
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
}

.boton:hover {
    color: var(--blanco);
    background-color: black;
    transition: all 300ms;
}

#contacto{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: var(--primario);
}



/* Footer */

footer{
    background-color: #474747;
}

footer .navegacion-enlace{
    color: var(--blanco);
}

footer .logo{
    margin-top: 20px;
}

.logo-footer a:hover{
    background-color: transparent !important;
}

footer h3{
    font-size: 28px;
    font-weight:400;
    color: var(--blanco);
}

footer ul li{
    list-style: none;
}

.redes-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.redes-footer div{
    display: flex;
}


.redes-footer div a{
    color: var(--blanco) !important;
    margin-top: 20px;
    font-size: 30px !important;
    width: 50px ;
    height: 50px;
}

.redes-footer div a:hover{
    transform: scale(1.2) !important;
    transition: all 300ms;
    background-color: transparent;
    color: var(--gris);
}

.logo-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}


.nav-footer{
    width: 30%;
    text-align: center;
}

.nav-footer a{
    height: 60px;
}

.nav-footer a:hover{
    transform: scale(1.2) !important;
    transition: all 300ms;
    background-color: transparent;
    color: var(--gris);
}

footer p{
    color: var(--blanco);
    font-size: 15px;
}

.contact-footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos-contacto{
    display: flex;
    flex-direction: column;
}

.iconos-contacto i{
    color: var(--blanco);
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.content-contact-footer{
    display: flex;
    margin-top: 20px;
}

.content-contact-footer div p{
    font-size: 16px !important;
    display: flex;
    align-items: center;
}

#derechos{
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.none{
    display: none !important;
}


/*Boton de wpp*/

#btnWpp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    border: none;
    color: white;
    background-color: #25D366;
    height: 55px;
    width: 55px;
    font-size: 30px;
    border-radius: 100%;
}

#btnWpp i{
    font-size: 35px !important;
}

#btnWpp:hover {
    cursor: pointer;
    background-color: #128C7E;
    transition: all 300ms;
}

/* Inicio de Sesión */

#contenidoSesion i{
    font-size: 1.8rem;
    margin-right: 10px;
    color: var(--primario);
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-container i {
    margin-right: 5px;
}

.input-container input {
    border: none;
    outline: none;
}

#contenedorSesion{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedorSesion img{
    width: 100%;
    height: 200px;
}

#usuario, #contraseña{
    display: flex;
    width: 80%;
}

#iniciar-Sesion input{
    height: 3rem;
    width: 80%;
}

#iniciar-Sesion{
    height: 500px;
    width: 50%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1px solid rgba(138, 138, 138, 0.336);
}
.barraSesion{
    display: flex;
    justify-content: center;

}

#imgSesion{
    margin-top: 40px;
}

#iniciar-Sesion h2{
    margin-top: 10px;
    font-size: 30px !important;
    color: #3f3f3f;
}

#contenidoSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#iniciar-Sesion button{
    height: 3rem;
    font-size: 15px;
    font-weight:bold;
    width: 80%;
    border: none;
    background-color: var(--primario);
    color: var(--blanco);
}

#iniciar-Sesion input::placeholder{
    font-size: 15px;
}

#iniciar-Sesion input{
    font-size: 20px;
}

#iniciar-Sesion button:hover{
    transform: scale(1.02);
    transition: all 200ms;
    background-color: #474747;
}


@media (max-width: 768px) {
    #contenidoSesion h2{
        font-size: 25px !important;
        margin: 20px;
    }

    #iniciar-Sesion{
        height: 540px;
        width: 80%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #usuario, #contraseña{
        width: 80%;
    }

    #iniciar-Sesion button{
        height: 3rem;
        font-size: 15px;
        font-weight:bold;
        width: 80%;
        border: none;
        background-color: var(--primario);
        color: var(--blanco);

    }
    #iniciar-Sesion input::placeholder{
        font-size: 12px;
    }
    #contenidoSesion i{
        font-size: 1.5rem;
        margin-right: 10px;
    }
}


/* Botones */

.carousel-editor{
    margin-top: 20px;
    width: 50% !important;
    height: 130px !important;
}

.div-input-carrousel{
    height: 40px;
}

#btnsImgCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#addImageBtn, #deleteImageBtn, #agregarMedida, .edit, .delete, .add, #agregarCate{
    height: 50px;
    width: 250px;
    border-radius: 5px !important;
}

#addImageBtn, #agregarMedida, .add, #agregarCate{
    background-color: var(--verde);
}

#deleteImageBtn{
    background-color: var(--rojo);
    margin-left: 20px;
}

#addImageBtn:hover, #agregarMedida:hover, .add:hover, #agregarCate:hover{
    background-color: #1b9235;
    transform: scale(1.02);
    transition: all 100ms;
}

#deleteImageBtn:hover, .delete:hover{
    background-color: #ad2331;
    transform: scale(1.02);
    transition: all 100ms;
}

.edit:hover{
    background-color: #0064cf;
    transform: scale(1.02);
    transition: all 100ms;
}

/* Input carrousel */
.form-control {
    font-size: 24px !important;
}

/* Estilos responsivos */
@media (max-width: 768px) {
   #addImageBtn, #deleteImageBtn{
        height: 40px;
    }

    .form-control{
        font-size: 20px !important;
    }

    .carousel-editor{
        width: 80% !important;
    }
}

/* servicios */

#title-servicios{
    margin-left: 20px;
    margin-right: 20px;
}

.servicios {
    text-align: center;
    /*background-color: var(--gris);*/
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    /*-webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);*/
}

.item {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 10px;
    margin-top: 2rem;
    padding-top: 2rem;
    border-radius: .5rem;
    border: 2px solid var(--primario);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.item:hover {
    transition: 500ms all;
    border: 2px solid black;
}

.item h3{
    margin-top: 10px;
    color: var(--primario);
}

.item:last-child{
    margin-bottom: 2rem;
}

@media (min-width: 918px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .item {
        margin-bottom: 2rem;
    }
}

.item_icono{

    display: flex;
    align-items: center;
    justify-content: center;
}

.item_icono svg{
    width: 50%;
    margin-bottom: 30px;
}


/*marcas*/

.marcas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
   .marcas{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 5rem;
   }
}

.nuestras_marcas{
    background-color: var(--gris);
    margin-bottom: 10rem;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

/* Admin medidas */

.medida-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorBotones {
    display: flex;
    gap: 10px;
}

.contenedorBotones button {
    padding: 5px 10px;
    cursor: pointer;
}

.edit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}

#btnAddMedida {
    margin: 20px;
}

#agregarMedida, .edit, .delete, .add, #agregarCate{
    font-size: 22px;
    color: white;
    border: none;
}

/* Admin productos */

#productos, #btnAddCategory, #promociones{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#btnAddCategory button{
    margin: 20px;
}

#productos button, #promociones button{
    margin: 20px;
}

@media (max-width: 879px) {
    #productos button{
        width: 220px;
        margin: 5px;
    }
}

@media (max-width: 698px) {
    #productos button, .cont-btnProd button{
        width: 180px;
        margin: 5px;
    }
}

@media (max-width: 584px) {
    #productos button, .cont-btnProd button{
        width: 170px;
        margin: 5px;
    }
}

@media (max-width: 430px) {
    #productos button{
        width: 120px;
        margin: 5px;
        font-size: 15px;
    }
    .cont-btnProd{
        text-align: center;
    }
    .cont-btnProd button{
        width: 150px !important;
    }
}


/* Estilos de productos */

.products-row, .ofertas-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    gap: 10px; /* Espacio entre los elementos, opcional */
}

.products-row > div, .ofertas-row > div {
    flex: 1 1 calc(33.333% - 10px); /* Ajusta el tamaño de los divs */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total del elemento */
}


.destacados{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}

#productos-destacados{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.product-index, .oferta-index {
    
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
    max-width: 300px; /* Ancho máximo de la tarjeta */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center; /* Centrar contenido */
    position: relative; /* Posición relativa para elementos internos */
    font-family: Arial, sans-serif; /* Fuente base */
}

.product-index img, .oferta-index img {
    max-width: 100%; /* La imagen se adapta al contenedor */
    border-radius: 4px; /* Bordes redondeados */
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.product-info, .oferta-info {
    margin-top: 12px; /* Espaciado entre imagen y descripción */
    text-align: left; /* Texto alineado a la izquierda */
}

.product-info strong, .oferta-info strong {
    font-size: 16px; /* Tamaño de fuente para el título */
    color: #333; /* Color de texto */
}

.product-info p, .oferta-info p {
    font-size: 14px; /* Tamaño de fuente para la descripción */
    color: #666; /* Color de texto gris */
}

.divPrecio {
    font-size: 20px; /* Tamaño de fuente del precio */
    font-weight: bold; /* Precio en negrita */
    color: var(--primario); /* Color rojo del precio */
    margin-top: 8px; /* Espaciado superior */
}

.divPrecioGrande {
    font-size: 50px; /* Tamaño de fuente del precio */
    font-weight: bold; /* Precio en negrita */
    color: var(--primario); /* Color rojo del precio */
    margin-top: 8px; /* Espaciado superior */
    text-align: center;

}


.add-to-cart-btn:hover {
    background-color: #d32f2f; /* Color más oscuro en hover */
}

#title-destacados{
    margin-top: 20px;
}



.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.medidas-info, #medidasSelectModal {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Asegúrate de que no haya estilos que oculten el desplegable */
    appearance: auto; /* O asegúrate de que no esté usando 'none' */
    background-color: #fff;
}

/* Productos destacados */


#productos-destacados .product-index{
    height: 300px;
    margin-left: 50px;
}

/*Ofertas*/

#ofertas {
    position: relative;
    width: 100%;
    height: 650px; /* O el tamaño que necesites */
    background-image: url('./statics/ofertas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#ofertas a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}


/* Neumaticos*/

#todos-neumaticos .product-index{
    height: 450px;
    width: 300px;
}

#todos-neumaticos .products-row > div{
    flex: none;
    margin-left: 40px;
    margin-top: 40px;
}

#todos-neumaticos .product-index button, .add-to-cart-btn, .ver-mas-btn{
    border: none;
    width: 200px;
    border-radius: 5px;
    background-color: var(--primario);
    color: white;
    font-weight: 600;
}

#todos-neumaticos .product-index button:hover, .add-to-cart-btn:hover, .ver-mas-btn:hover{
    background-color: #1e1e68;
    transform: scale(1.02);
    transition: all 100ms;
}

/* Carrito */
.iconos-header {
    position: relative; /* Hacer que el contenedor del icono sea el contenedor relativo */
}

.shop-cart-icono {
    position: relative; /* Hacer que el icono del carrito sea el contenedor relativo para el contador */
}

#cart-container {
    position: absolute; /* Posicionar el contador absolutamente respecto al icono del carrito */
    top: -5px; /* Ajustar la posición vertical del contador (ajustar según sea necesario) */
    right: -10px; /* Ajustar la posición horizontal del contador (ajustar según sea necesario) */
    background-color: red; /* Color de fondo del contador (opcional) */
    color: white; /* Color del texto del contador */
    border-radius: 50%; /* Hacer el contador redondo */
    width: 20px; /* Ancho del contador */
    height: 20px; /* Alto del contador */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Tamaño de la fuente del contador */
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 769px) {
    .modal{
     align-items: flex-start;
    }
 }


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;

    position: relative;
}

@media (max-width: 769px) {
    .modal-content{
     margin-top: 50px;
     margin-bottom: 50px;
    }
 }

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.category h2{
    color: var(--primario);
    font-weight: 700;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.main-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.modal-main-image {
    width: 300px;
    height: auto;
}

.thumbnail-images-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-thumbnail-image {
    width: 80px;
    height: auto;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.modal-thumbnail-image:hover {
    opacity: 1;
}



@media (min-width: 768px) {
   #modal-product-info, #modal-oferta-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

.imagenes_neumaticos{
    margin-bottom: 5rem;
    margin: auto 0;
}


/* Carrito */

#pantallaCarrito{
    background-color: white;
    position: fixed;
    right: 0%;
    bottom: 0%;
    top: 102px;
    overflow: scroll;
    color: black;
    z-index: 5000;
    width: 75%;
}

.display-none{
    display: none !important;
}


#pantallaCarrito img{
    width: 100px;
    height: 100px;
}

#pantallaCarrito ul{
    list-style: none;
}

#pantallaCarrito ul li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin-top: 30px;
    border-top: 1px solid var(--color-secundario);
    padding-top: 20px;
    border-bottom: 5px solid var(--gris);
    margin: 0 auto;
}

@media (max-width: 769px) {
    #pantallaCarrito ul li{
        display: flex;
        flex-direction: column;
    }
}

#pantallaCarrito ul li h1{
    font-size: 25px !important;
    padding-right: 10px;
    color: black;
}



#pantallaCarrito ul li button{
    background-color: var(--rojo);
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    margin-left: 130px;
    margin-right: 15px;
}

@media (max-width: 769px) {
    #pantallaCarrito ul li button{
        margin-left: 10px;
    }
}

#pantallaCarrito button{
    background-color: var(--rojo);
    border: none;
    margin: 20px;
}

#pantallaCarrito h3{
    color: black;
}

#pantallaCarrito h1{
    display: block;
}

#pantallaFondoCarr{
    background-color: #3333338a;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#divTotal{
    display: flex !important;
    justify-self: flex-end;
    justify-content:center;
    font-size: 25px;
    align-items: center;
}

#divTotal p{
    margin-left: 15px;
    max-height: 30px;
}


@media (max-width: 769px) {
    #pantallaCarrito{
        display: flex;
        flex-direction: column;
    }
}


.producto-carrito{
    display: flex;
    flex-direction: column;
}

#compraFinal{
    width: 100px;
    height: 40px;
    font-size: 15px;
}

#totalCarrito{
    font-size: 30px;
    max-height: none !important;
    margin-bottom: 4px !important;
}

.precioCarrito{
    color: var(--primario);
    font-weight: bold;
    font-size: 25px;
}

.quantity-container{
    margin-bottom: 20px;
}


.quantity-container button{
    border: none;
    width: 30px;
    border-radius: 5px;
    background-color: var(--primario);
    color: white;
    font-weight: 600;
}

.descripcion_neumaticos{
    text-align: center;
}

#quantity-modal{
    width: 30px;
}


