:root{
    --primario: #2F2F8F;
    --fuenteHeading: 'Roboto Condensed' !important; /* Fuente para encabezados */;
    --fuenteParrafos: "Roboto Condensed", sans-serif;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

html {
    box-sizing: border-box !important;
    font-size: 62.5% !important;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos) !important;
    font-size: 1.6rem !important;
    line-height: 2 !important;
}

a {
    text-decoration: none !important;
    font-size: 2rem !important;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: var(--fuenteHeading) !important;
    line-height: 1.2 !important;
    text-transform: uppercase;
    color: var(--secundario);
}


/* Estilos base para los títulos en desktop */
h1 {
    font-size: 4.8rem !important;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 3.2rem !important;
}

h4 {
    font-size: 2.8rem !important;
}

h5 {
    font-size: 2.4rem !important;
}

/* Estilos base para párrafos en desktop */
p {
    font-size: 1.8rem;
}

/* Media Queries para tamaños de pantalla medianos */
@media (max-width: 768px) {

    h1 {
        font-size: 3.8rem !important;
    }

    h2 {
        font-size: 3.2rem !important;
    }

    h3 {
        font-size: 2.8rem !important;
    }

    h4 {
        font-size: 2.4rem !important;
    }

    h5 {
        font-size: 2rem !important;
    }

    p {
        font-size: 1.6rem;
    }

    body .welcome p{
        font-size: 1.8rem !important;
    }
}

/* Media Queries para tamaños de pantalla pequeños */
@media (max-width: 480px) {
    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    h4 {
        font-size: 1.8rem !important;
    }

    h5 {
        font-size: 1.5rem !important;
    }

    p {
        font-size: 1.5rem;
    }
}


img {
    max-width: 100%;
}


*{
    padding: 0px;
    margin: 0px;
}

.flex{
    display: flex;
}


/*header*/
.header{
    background-color: var(--primario);
    /*background-color: black;*/
    border-bottom: 2px solid var(--gris);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    height: 100px;
}

.header a{
    font-weight: 600;

}

.header a, .footer a{
    text-decoration: none;
    color: white;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100px;
}


.logo, .navegacion-enlace {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navegacion-enlace{
    height: 5rem;
}

header .navegacion-enlace:hover{
    color: gray;
    border-bottom: 3px solid gray;
    border-bottom-width: 50% !important;
    transition: all 100ms;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.inciar-sesion-icono i{
    width: 100px;
    height: 100px;
    color: white;
}

.iconos-header{
    width: 80px;
}

.iconos-header i{
    margin-left: 35px;
}

.links-header{
    display: flex;
    width: 650px;
    justify-content: space-around;
}

#iniciarSesion{
    display: none;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navegacion {
        z-index: 1050;
        display: none; 
        position: absolute;
        top: 0px;
        background: var(--primario);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        gap: 1rem;
        left: 0px;
        transform: translateX(-100%); /* Oculto inicialmente */
        transition: transform 0.5s ease-out; /* Suaviza la transición */
        padding-top: 100px;
    }

    .navegacion.show {
        display: flex;
        background: var(--primario);
        flex-direction: column;
        height: 100vh;
        animation: slideInFromLeft 0.5s ease-out forwards;
    }



    .links-header {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: space-around;
    }

    #iniciarSesion {
        margin-top: auto;
        display: block;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .iniciar-sesion-icono {
        display: none;
    }

    .iconos-header {
        width: 50px;
    }

    .iconos-header i {
        margin-left: 0px;
    }

    .navegacion.hide {
        animation: slideOutToLeft 0.5s ease-in forwards; /* Anima el deslizamiento hacia la izquierda */
    }
}




/*Animacion menu hamburguesa*/


/*Entrada del menu*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0; /* Opcional: Oculto al inicio */
    }
    100% {
        transform: translateX(0); /* Llega a su posición final */
        opacity: 1; /* Opcional: Totalmente visible */
    }
}

/*Salida del menu*/

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0); /* Empieza en la posición actual */
        opacity: 1; /* Totalmente visible */
    }
    100% {
        transform: translateX(-100%); /* Desliza hacia la izquierda */
        opacity: 0; /* Oculto al final */
    }
}


/* Estilos generales */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color de la superposición */
    z-index: 1040; /* Asegúrate de que esté debajo del menú */
    display: none; /* Oculto por defecto */
}

@media (max-width: 768px) {
    .overlay.show {
        display: block; /* Muestra la superposición cuando se abra el menú */
    }
}

.menu-close {
    position: absolute;
    top: 5px;
    left: 20px;
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff; /* Cambia el color según tu diseño */
    z-index: 1050; /* Asegúrate de que esté encima del menú */
    transition: transform 0.3s ease;
    height: 10rem;
}
@media (min-width: 768px) {
   .menu-close{
    display: none;
   }
}


.menu-close:hover {
    transform: scale(1.2); /* Aumenta un poco el tamaño al pasar el cursor */
}
